* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 450px;
    height: auto;
    text-align: center;
    background-color: white;
    border: 1px solid black;

    input {
        outline: none;
        width: 200px;
        height: 30px;
        padding: 5px;
    }

    .div_all {
        .handleDelete {
            display: none;
        }
    }

    .div_all:hover {
        .handleDelete {
            display: block;
        }
    }


}